# Godot 4+ specific ignores
.godot/
/android/
Sprites Algemeen/.DS_Store
Sprites Algemeen/ship concept renders/.DS_Store
Sprites Algemeen/.DS_Store
.DS_Store
models/wormhole/angler.blend1
models/wormhole/Hallucigenia.blend1
models/wormhole/Hallucigenia.blend1
